:root {
    --primary: #{$primary};
    --primary-dark: #{$primary-dark};
    --secondary: #{$secondary};
    --secondary-dark: #{$secondary-dark};
    --bg-color: #{$gray-100};
    --bg-color-dark: #{$gray-900};
    --font-color-light: #{$white};
    --font-color-dark: #{$gray-900};
    --navbar-color: #{$white};
    --light-color: #{$white};
    --footer: #080808;
    --footer-dark: #000000;
    --gray-100: #{$gray-100};
    --gray-200: #{$gray-200};
    --gray-300: #{$gray-300};
    --gray-400: #{$gray-400};
    --gray-500: #{$gray-500};
    --gray-600: #{$gray-600};
    --gray-700: #{$gray-700};
    --gray-800: #{$gray-800};
    --gray-900: #{$gray-900};
    --gradient-1: linear-gradient(270deg, rgba(0, 35, 254, 1) 0%, rgba(0, 129, 255, 1) 100%);
}
